<template name="entryAccountButtons">

  {{#if currentUser}}
     
<li class="dropdown">  
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{signedInAs}} <b class="caret"></b></a>  
    <ul class="dropdown-menu">  
        <li></li>  
        <li><a href="/sign-out">Sign Out</a></li>  
    </ul>  
  </li>  

  {{else}}
   
    {{#if wrapLinks}}<li>{{/if}}
      <a href="/sign-in">{{i18n "signIn"}}</a>
    {{#if wrapLinks}}</li>{{/if}}

    {{#unless wrapLinks}}<span>or</span>{{/unless}}

    {{#if wrapLinks}}<li>{{/if}}
      <a href="/sign-up">{{i18n "signUp"}}</a>
    {{#if wrapLinks}}</li>{{/if}}


  {{/if}}
</template>
